engine/resources/lps/lps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:annotation>
	<xs:documentation xml:lang="pl">
	<p>Schemat opisuje strukturę, za pomocą które zapisywane są listy pożegnalne samobójców.</p>
	<p>author: Michał Marcińczuk</p>	
	</xs:documentation>
</xs:annotation>

<!-- Element główny, korzeń dokumentu -->
<xs:element name="text">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="body"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<!-- Elementy występujące bezpośrednio w TEXT -->
<xs:element name="body">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="envelope" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="pb" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="opener" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ornament" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="closer" minOccurs="0" maxOccurs="1"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<!-- Elementy występujące bezpośrednio w BODY -->
<xs:element name="pb" />

<xs:element name="envelope">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:element>
	
<xs:element name="opener">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="dateline" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="head" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ornament" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<xs:element name="p">
	<xs:complexType mixed="true">	
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="add" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="del" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="figure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="gap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hyph" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="salute" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="signed" minOccurs="0" maxOccurs="unbounded" />
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="verte" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="id">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="p[0-9]*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="next">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="p[0-9]*"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(left|center|right|indent|margin-left|step-left|step-indent|step-center|inline)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="place">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(left|center|right) (top|center|bottom)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(meta)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="ornament">
	<xs:complexType mixed="true">
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(characters|line|space|wave)"/>
				</xs:restriction>
			</xs:simpleType>		
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="closer">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="p" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="dateline" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ps" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="pb" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ornament" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(inline)"/>
				</xs:restriction>
			</xs:simpleType>		
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="ps">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="p" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element ref="pb" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="ornament" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<!-- Elementy występujące bezpośrednio w OPENER  -->

<xs:element name="dateline">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="add" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="del" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="gap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="hi" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lb" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(left|center|right|inline-right)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="head">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(left|center|right)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<!-- Elementy występujące bezpośrednio w P  -->

<xs:element name="add">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="del" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="gap" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="place" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(above|below|inline)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<!-- Jak zapisać warunki, aby resp="author" -> count i resp="editor" -> sic, type -->
<xs:element name="corr">
	<xs:annotation>
		<xs:documentation>Opisuje korektę tekstu.</xs:documentation>
	</xs:annotation>
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="corr" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hyph" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lb" minOccurs="0" maxOccurs="1"/>
			<xs:element name="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="resp" use="required">
			<xs:annotation>
				<xs:documentation>
				Określa, kto wprowadził korektę. Możliwe wartości to 'author' (korekta autorska) lub 'editor' (korekta edytorska). 
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="author"/>
					<xs:enumeration value="editor"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="count" type="xs:integer"/>
		<xs:attribute name="type">
			<xs:annotation>
				<xs:documentation>
				Lista typów błędów poprawionych przez edytora. 
				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(capital|cons-alter|flex|hypercorr|hyphenation|j-ji-repr|nasal|orth|soft-repr|sep-comp|spoken|unsep-comp|typ-anom|unvoic-cons|voic-cons|vowel-alter|other)(,(capital|cons-alter|flex|hypercorr|hyphenation|j-ji-repr|nasal|orth|soft-repr|sep-comp|spoken|unsep-comp|typ-anom|unvoic-cons|voic-cons|vowel-alter|other))*"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sic" type="xs:string">
			<xs:annotation>
				<xs:documentation>
				Tekst oryginalny, przed wprowadzeniem korekty. 
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:element>

<xs:element name="del">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="corr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="gap" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="hi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(strikeout|crossout)"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="figure">
	<xs:complexType mixed="true">
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(arrow|braid|cross|emotikon|fish|heart|triangle|other)"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(multiple)"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="gap">
	<xs:complexType mixed="true">
		<xs:attribute name="reason">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(illegible|missing|prosecutor|signature|hspace)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="hi">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="add" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="del" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="figure" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="gap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="hyph" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="rend">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(bold|larger|superscript|subscript|underline|underline-multiple|uppercase)(,(bold|larger|superscript|subscript|underline|underline-multiple|uppercase))*"></xs:pattern>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="hyph" type="xs:string"/>

<xs:element name="lb" nillable="true"/>

<xs:element name="salute">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="figure" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="gap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hi" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="lb" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>	
</xs:element>

<xs:element name="unclear">
	<xs:complexType mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="add" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="cert">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="(high|normal|low|unknown)"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>	
	</xs:complexType>
</xs:element>

<xs:element name="verte">
	<xs:complexType mixed="true">	
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="figure" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:element>

<!-- Elementy występujące bezpośrednio w CLOSER  -->

<xs:element name="signed">
	<xs:complexType mixed="true">	
		<xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="add" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="corr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="gap" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="unclear" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hi" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="figure" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
</xs:element>


<!-- Atrybuty wyliczeniowe -->

</xs:schema>
